html,
body {
    background-size: auto;
    scrollbar-width: 0px;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    /*vertically center menu*/
    overflow: hidden;
    /* Disable scroll*/
}

body {
    background: linear-gradient(110.1deg, rgb(241, 115, 30) 18.9%, rgb(231, 29, 54) 90.7%);
}

#divChargement {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(110.1deg, rgb(255, 134, 53) 18.9%, rgb(231, 29, 54) 90.7%);
    z-index: 1000;
    animation: gradientAnimation 5s infinite linear;
    transition: 3s;
}

#divChargement2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(110.1deg, rgb(231, 29, 54) 18.9%, rgb(255, 135, 55) 90.7%);
    z-index: 999;
}

@keyframes gradientAnimation {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.homepage {
    position: relative;
    margin-top: 0px;
    top: 0px;
}

#fullscreen {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    transition: ease-out 0.5s;
    z-index: 1001;
    filter: brightness(110%);
}

#fullscreen:hover {
    width: 80px;
    height: 80px;
    cursor: pointer;
    filter:brightness(112%);
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../img/background.jpg");
    background-size: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.704), rgba(0, 0, 0, 0));
    /*For Edge*/
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
            color-stop(0, rgba(0, 0, 0, 1)),
            color-stop(0.5, rgba(0, 0, 0, 0.704)),
            color-stop(1, rgba(0, 0, 0, 0)));
    -webkit-mask-composite: source-over;
}

.menu {
    margin-left: 0%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 600px;
    text-align: center;
}

#logo {
    height: 350px;
    width: 350px;
    display: block;
    margin: 0 auto;
    animation: logoMove 2s infinite;
    background-image: url('../img/logo.png');
    background-size: cover;
}

#pseudo {
    font-weight: bolder;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(230, 87, 87);
    width: 100px;
    margin-left: 250px;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.377);
}

#pseudo:hover {
    cursor: default;
}

input {
    border: 6px;
    border-color: rgb(230, 87, 87);
    border-style: ridge;
    width: 250px;
    margin-bottom: 5vh;
}

#volume {
    height: 50px;
    width: 50px;
}

#playButton,
#loginPath,
#signInPath,
#RulesPath,
#loginButton,
#closeRules,
#signInButton {
    background: rgb(230, 87, 87);
    border: 0px;
    height: 80px;
    width: 180px;
    box-shadow: 10px 10px 3px 3px rgba(0, 0, 0, 0.377);

    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 1s;
}

#loginPath,
#signInPath,
#closeRules,
#RulesPath {
    margin-top: 5%;
    width: 300px;
    box-shadow: 10px 10px 3px 3px rgba(255, 0, 0, 0.3);
    font-size: 200%;
    height: 10%;
    transition: 1s;
    margin-bottom: 3%;
}

#loginButton {
    width: 300px;
    box-shadow: 10px 10px 3px 3px rgba(255, 0, 0, 0.3);
}

#signInButton {
    width: 230px;
    box-shadow: 10px 10px 3px 3px rgba(255, 0, 0, 0.3);
}

#volumeContainer {
    display: inline-flex;
    padding-left: -10%;
}

#volume {
    width: 10%;
    height: 10%;
    margin-left: 8%;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: red;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"] {
    margin-top: 3%;
    accent-color: rgb(230, 87, 87);
    border: none;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: red;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 250px;
    height: 25px;
    background: red;
    cursor: pointer;
}

#playButton:hover,
#loginButton:hover,
#signInButton:hover {
    background: rgb(228, 50, 50);
    height: 85px;
    width: 215px;
    margin-top: -5px;
}

#loginPath:hover,
#signInPath:hover,
#closeRules:hover,
#RulesPath:hover {
    height: 11%;
    width: 320px;
    background: rgb(228, 50, 50);
}

#loginButton:hover {
    width: 335px;
}

#signInButton:hover {
    width: 265px;
}

#options {
    z-index: 100001;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 70px;
    width: 73px;
    background: url("../img/options.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: optionRotate 3s linear infinite;
    transform-origin: center center center;
    animation-play-state: paused;
    transition: 1s;
}

#options:hover {
    animation-play-state: running;
    filter: saturate(500%);
    height: 75px;
    width: 78px;
    cursor: pointer;
}

#popupSettings,
#popupLogin,
#popupSignIn,
#popupRules {
    z-index: 10000;
    position: absolute;
    left: 400px;
    height: 90%;
    width: 35%;
    background-color: rgba(0, 0, 0);
    margin-left: 20%;
    margin-right: auto;
    color: rgb(230, 87, 87);
    text-align: center;
    border: 30px;
    border-color: rgb(230, 87, 87);
    border-style: ridge;
}

#popupRules {
    overflow-y: auto;
    max-height: 1000px;
}

#popupRules::-webkit-scrollbar {
    width: 12px;

}

#popupRules::-webkit-scrollbar-track {
    background-color: black;
    /* Couleur de fond de la barre de défilement */
}

#popupRules::-webkit-scrollbar-thumb {
    background-color: rgb(230, 87, 87);
    border-radius: 6px;
}

#popupRules .rule {
    display: flex;
    align-items: center;
    /* Pour aligner le texte verticalement avec l'image */
}

#popupRules img {
    width: 100px;
    margin-right: 10px;
    /* Ajustez cette valeur selon vos besoins pour l'espace entre l'image et le texte */
    border: 2px solid white;
    border-radius: 5px;
}

#popupRules p {
    line-height: 1.4;
    /* Pour une meilleure lisibilité, ajustez selon vos préférences */
}


#loginForm,
#signInForm {
    margin-top: 5vh;
}

@keyframes optionRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes logoMove {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

@keyframes startingPlay {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-150%);
        display: none;
    }
}

@keyframes startingPlay2 {
    0% {
        transform: translateY(1000%);
    }

    100% {
        transform: translateY(0%);
    }
}

.loadingScreen {
    z-index: 1001;
    transform: translateY(1000%);
    color: orange;
    position: absolute;
    height: 300px;
    width: 70%;
    background-color: rgb(215, 61, 61);
    text-align: center;
    margin-left: 15%;
    margin-right: auto;
    border: 15px solid rgb(102, 17, 17);
    border-radius: 20px;
    animation: logoMove 2s infinite;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.634);
}

.loadingScreen h1 {
    margin-top: 85px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    line-height: 1;
}

.loadingScreen h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.homepage.slide-up {
    animation: startingPlay 2s forwards;
}

.background.slide-up {
    animation: startingPlay 4s forwards;
}


#loadingTitle {
    font-size: 40px;
    margin-top: 65px;
}


h1 {
    font-weight: bold;
    cursor: default;
}

.erreur-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    background-color: rgb(215, 61, 61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10001;
    border: 15px solid rgb(102, 17, 17);
    box-shadow: 10px 10px 3px 3px rgba(0, 0, 0, 0.3);
}

.erreur-message h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.erreur-message p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.erreur-message button {
    width: 35%;
    text-align: center;
    height: 20%;
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(43, 7, 7);
    color: rgb(205, 74, 74);
    text-align: center;
    border: 10px;
    border-color: rgb(193, 64, 64);
    border-style: ridge;
    transition: 1s;
}

.erreur-message button:hover {
    background-color: rgb(74, 8, 8);
    height: 22%;
    width: 37%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.558);
}

.error-image {
    height: 100px;
    width: 100px;
    background: url("../img/error.png");
    background-size: cover;
}

#loadingBar {
    margin-top: 10px;
    margin-left: 15%;
    width: 70%;
    height: 20px;
    border-left: 5px;
    border-right: 5px;
    border-top: 15px;
    border-bottom: 15px;
    border-style: solid;
    border-color: rgb(99, 14, 14);
    border-radius: 15px;
    background-color: rgb(153, 22, 22);
    z-index: 5;
}

#loadingColorBar {
    background: rgb(230, 86, 14);
    background: linear-gradient(90deg, rgba(230, 86, 14, 1) 0%, rgba(255, 177, 31, 1) 50%, rgba(230, 86, 14, 1) 100%);
    border-radius: 15px;
    transition: ease-out 1s;
    height: 20px;
    margin-top: -10px;
    margin-left: 0px;
    z-index: 6;
}




@media (max-width: 900px) {

    .homepage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    .menu {
        display: inline;
        margin-left: 5%;
    }

    #pseudo {
        margin: auto;
        margin-bottom: 10px;
    }

    #popupSettings,
    #popupLogin,
    #popupSignIn,
    #popupRules {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        margin-left: 0;
    }

    .erreur-message h1 {
        font-size: 30px;
    }

    .erreur-message p {
        font-size: 20px;
    }

    .erreur-message button {

        font-size: 15px;
        width: 80%;
        height: 20%;
    }

    .error-image {
        height: 50px;
        width: 50px;
    }

    .loadingScreen h1 {
        text-decoration-thickness: 2px;
    }

    .loadingScreen h1 {
        margin-top: 40px;
    }

    #loadingInformation {
        margin-top: 33px;
        font-size: 20px;
    }

    #loadingTitle {
        font-size: 19px;
    }

    #loadingBar {
        margin-top: 8px;
        margin-left: 5%;
        width: 90%;
    }
}

#popupRules {
    overflow-y: auto;
}

#popupRules::-webkit-scrollbar {
    width: 12px;
}

#popupRules::-webkit-scrollbar-track {
    background-color: black;
    /* Couleur de fond de la barre de défilement */
}

#popupRules::-webkit-scrollbar-thumb {
    background-color: rgb(230, 87, 87);
    border-radius: 6px;
}

#popupRules img {

    float: left;
    width: 80px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    clear: both;
}

.rulesParagraph {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerBanner {
    position: absolute;
    top: 40px; /* Ajustez la valeur selon vos besoins pour définir la distance par rapport au haut */
    right: 260px; /* Ajustez la valeur selon vos besoins pour définir la distance par rapport à la droite */
  }
  
  /* Ajoutez d'autres styles au besoin */
  

#playerBannerImage {
    width: 550px !important;
    height: 180px !important;
  }
  
  
  /* Ajoutez d'autres styles au besoin */
  
  

  