html, body{
    background-size: auto;
    scrollbar-width: 0px;    
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center; /*vertically center menu*/
    overflow: hidden; /* Disable scroll*/
}
.homepage{
    position: relative;
    margin-top: 0px;
    top: 0px;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../img/background.jpg");
    background-size: cover;
}

.menu{
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    margin-bottom: 5%;
    width: 600px;
    text-align: center;
}

#logo{
    height: 350px;
    width: 350px;
    display: block;
    margin: 0 auto;
    animation: logoMove 2s infinite;
    background-image: url('../img/logo.png');
    background-size: cover;
}

#nickname{
    margin-bottom: 20px;
    width: 250px;
}

#playButton{
    background: rgb(230, 87, 87);
    border: 0px;
    height: 80px;
    width: 180px;
    box-shadow: 10px 10px 3px 3px rgba(0, 0, 0, 0.377);

    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 1s;
}

#playButton:hover{
    background: rgb(228,50,50);
    height: 85px;
    width: 215px;
    margin-top:0px;
}

#options{
    z-index: 10001;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 70px;
    width: 73px;
    background: url("../img/options.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: optionRotate 3s linear infinite;
    transform-origin: center center center;
    animation-play-state:paused;
    transition: 1s;
}

#options:hover {
    animation-play-state:running;
    filter: saturate(500%);
    height: 75px;
    width: 78px;
}

#popupSettings {
    z-index: 10000;
    position: absolute;
    left: 400px;
    height: 90%;
    width: 400px;
    background-color: rgba(0, 0, 0);
    margin-left: 20%;
    margin-right: auto;
    color: white;
    text-align: center;
    border: 5px solid;
    border-radius: 5%;
}

@keyframes optionRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes logoMove {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

@keyframes startingPlay {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-150%);
        display: none;
    }
}

@keyframes startingPlay2 {
    0% {
        transform: translateY(1000%);
    }
    100% {
        transform: translateY(0%);
    }
}

.loadingScreen{
    transform: translateY(1000%);
    color: orange;
    position: absolute;
    height: 300px;
    width: 50%;
    background-color: aliceblue;
    margin-left: 25%;
    margin-right: auto;
}

.homepage.slide-up {
    animation: startingPlay 2s forwards;
}

.background.slide-up {
    animation: startingPlay 4s forwards;
}

.loadingScreen.slide-up {
    animation: startingPlay2 3s forwards;
}


@media (max-width: 767px) {
    .menu {
        margin-left: -15%;
    }

    #popupSettings {
        position: sticky;
        height: 100%;
        width: 100%;
        margin-left: -200%;
        margin-right: 45%;
    }
}

@media (max-width: 376px) {
    .menu {
        margin-left: -20%;
    }

    #popupSettings {
        position: absolute;
        height: 100%;
        width: 100%;
        margin-right: none;
        margin-left: -107%;
    }
}

h1{
    font-weight: bold;
}